<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="container">
    <div class="mt-4 mb-4">
        <h2>Ceer un compte :</h2>
        <div class="alert alert-success" *ngIf="submittted ">
            <strong>Ajout avec succès</strong>
        </div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!--<div hidden class="col-sm-2 col-md-2 col-lg-2 mb-4">
                <label>ID User</label>
                <input type="number" [(ngModel)]="newUser.iduser" name="iduser" class="form-control" min="1" step="1">
            </div>-->
    
        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
            <label for="Username" style="font-weight: bold;">Nom d'utilisateur</label>
    
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text rounded-left"><i class="fa fa-user-circle"></i></span>
                </div>
                <input type="text" [(ngModel)]="newUser.username" formControlName="username" name="username"
                    class="form-control" placeholder="Nom d'utilisateur"
                    [ngClass]="{ ' is-invalid ': submitted && name?.hasError('required') }" />
                <div class="invalid-feedback" *ngIf=" name?.hasError('required') && submitted ">
                    <div>* required : vrai</div>
                </div>
            </div>
        </div>



        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
            <label for="Email" style="font-weight: bold;">Email</label>
        
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text rounded-left"><i class="fas fa-at"></i></span>
                </div>
                <input type="text" [(ngModel)]="newUser.email" formControlName="email" name="email" class="form-control"
                    placeholder="Email"
                    [ngClass]="{ ' is-invalid ': submitted && (mail?.hasError('required') || mail?.hasError('minlength') || mail?.hasError('email'))}" />
                <div class="invalid-feedback" *ngIf=" mail?.hasError('required') && submitted ">
                    <div>* required : vrai</div>
                </div>
                <div class="invalid-feedback" *ngIf=" mail?.hasError('email') && submitted ">
                    <div>* email : faux</div>
                </div>
                <div class="invalid-feedback" *ngIf=" mail?.hasError('minlength') && submitted ">
                    <div>* Longueur min 6 caractères</div>
                </div>
            </div>
        </div>



        <div class="form-group col-sm-4 col-md-4 col-lg-4 mb-4">
            <label for="Password"  style="font-weight: bold;">Mot de passe</label>
        
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text rounded-left"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" [(ngModel)]="newUser.password" formControlName="password" name="password"
                    class="form-control" placeholder="Mot de passe" [ngClass]="{  
                        ' is-invalid ': submitted && (pass?.hasError('required') || pass?.hasError('minlength'))  ,
                        ' is-valid ': submitted && (!pass?.hasError('required') && !pass?.hasError('minlength')) }">
                <div class="invalid-feedback" *ngIf=" pass?.hasError('required') && submitted ">
                    <div>* required : vrai</div>
                </div>
                <div class="invalid-feedback" *ngIf=" pass?.hasError('minlength') && submitted ">
                    <div>* longeur min 5 caractère</div>
                </div>
            </div>
        </div>

        <!--<div class="form-group col-sm-4 col-md-4 col-lg-4 mb-4">
            <label for="enabled">Enabled</label>

            <div class="input-group" formControlName="enabled" >
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="enabled" value="1">
                <label class="form-check-label" [(ngModel)]="newUser.enabled"  checked>active</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="newUser.enabled" type="radio" name="enabled"  value="0">
                <label class="form-check-label" >Disable</label>
            </div>
            </div>
        </div>-->
        <!--<div class="form-group col-sm-4 col-md-4 col-lg-4 mb-4" >
            <label for="enabled">Enabled</label>
    
            <div class="input-group">
                <input type="number" [(ngModel)]="newUser.enabled" formControlName="enabled" name="enabled" class="form-control" value="1">
            </div>
        </div>-->

        <!--<div class="clearfix">
            <a [routerLink]="['/signup']" class="btn btn-light float-right">Creer un compte</a>
            <input type="submit"  class="btn btn-primary col-2 " value="Login" style="font-weight: bold;">
        </div>-->

        <!--<div class="col-sm-2 col-md-2 col-lg-2 mt-2">-->
            <div class="clearfix">
                &nbsp;&nbsp;
            <input type="submit" class="btn btn-primary" value="Creer">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-light" [routerLink]="['/login']"> J'ai un compte </button>
        </div>
        
    </form>